<div class="classroom-stats">
  <div class="stats-item">
    <div class="stat-icon"><i class="fas fa-user-graduate fa-3x"></i></div>
    <div class="item-title">
      <div class="stats-data">{{ allStudentsCount }}</div>
      <div class="stats-title">All Students</div>
    </div>
  </div>
  <div class="stats-item">
    <div class="stat-icon"><i class="fas fa-user-graduate fa-3x"></i></div>
    <div class="item-title">
      <div class="stats-data">{{ noOfTeachingAssistants }}</div>
      <div class="stats-title">Teaching Assistants</div>
    </div>
  </div>
  <div class="stats-item">
    <div class="stat-icon"><i class="fas fa-user-graduate fa-3x"></i></div>
    <div class="item-title">
      <div class="stats-data">{{ noOfProjectGroups }}</div>
      <div class="stats-title">Project Groups</div>
    </div>
  </div>
  <div class="stats-item">
    <div class="stat-icon"><i class="fas fa-dollar-sign fa-3x"></i></div>
    <div class="item-title">
      <div class="stats-data">{{ totalSpendings }}</div>
      <div class="stats-title">Spenfings</div>
    </div>
  </div>
</div>
