<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n="@@PreferencesShellGeneralTab">
        General
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-preferences-general></app-preferences-general>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n="@@PreferencesShellAddFileTab">
        Add File
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-preferences-add-file></app-preferences-add-file>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n="@@PreferencesShellResourcesTab">
        Recources
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-preferences-resources></app-preferences-resources>
  </mat-expansion-panel>
</mat-accordion>
