
@{
    ViewData["Title"] = "Connect";

}
<html xmlns="http://www.w3.org/1999/xhtml">
<h2>Connect</h2>
<body>
    <a asp-action="PostOutcome">Post Outcome</a>
    <a asp-action="GetCourseEnrolled">Get Enrolled</a>
</body>
